@media screen and (max-width: 1065px) {
    .home h1 {
        font-size: 150px;
        line-height: 200px;


        -webkit-text-stroke: 3px var(--text-yellow);
        text-stroke: 3px var(--text-yellow);
    }
}

@media screen and (max-width: 800px) {
    .home h1 {
        font-size: 100px;
        line-height: 160px;

        -webkit-text-stroke: 2px var(--text-yellow);
        text-stroke: 2px var(--text-yellow);
    }
}