/* Главная страница */
.home-section {
    width: 100%;
    padding: 35px;
}

/* Контейнер с блоком */
.home {
    width: min(1240px, 100%);
    height: 740px;
    padding: 242px 0 0 40px;
    position: relative;

    border-radius: 30px;
    background-color: var(--bg-gray);
    background-image: url("../../assets/home-bg.png");
    background-repeat: no-repeat;
    background-position: top right;

    margin: 0 auto;
}

/* Логотип блока */
.home__logo {
    position: absolute;
    top: 24px;
    left: 63px;

    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-lightGray);

    user-select: none;
}

/* Заголовок "Колесо фортуны" */
.home .section-title {
    width: 355px;

    font-size: 62px;
    text-transform: uppercase;
}

.home__title {
    width: 355px;

    font-weight: 600;
    font-size: 62px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: linear-gradient(95deg, #fffd38 0%, #a2ff76 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Текст "Что такое колесо..." */
.home__text {
    width: 474px;

    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;

    margin-top: 28px;
}

/* Кнопка "Испытать удачу" */
.home .button-green {
    width: 260px;

    margin-top: 60px;
}