/* Главная секция */
.home-section {
    width: 100%;
    padding: 35px;
}

/* Контейнер с блоком */
.home {
    width: min(1240px, 100%);
    padding: 242px 0 130px 40px;
    position: relative;

    border-radius: 30px;
    background-color: var(--bg-gray);
    background-image: url("../../assets/home-bg.png");
    background-repeat: no-repeat;
    background-position: top right;

    margin: 0 auto;
}

/* Логотип блока */
.home__logo {
    position: absolute;
    top: 24px;
    left: 63px;

    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-lightGray);

    user-select: none;
}

/* Заголовок "Колесо фортуны" */
.home .section-title {
    width: 355px;

    line-height: normal;
    font-size: 54px;
    text-transform: uppercase;
}


/* Текст "Что такое колесо..." */
.home__text {
    width: 474px;

    font-size: 18px;
    line-height: 1.4;
    color: #fff;

    margin-top: 28px;
}

/* Кнопка "Испытать удачу" */
.home .button-green {
    margin-top: 60px;
}