/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    /* Модальное окно с информацией */
    .wheel__modal {
        padding-top: 10px;
    }

    /* Заголовок модального окна */
    .wheel__modal-title {
        padding: 0 8px;

        font-size: 20px;
    }

    /* Текст модального окна */
    .wheel__modal-text {
        padding: 0 8px;

        font-size: 16px;

        margin-top: 4px;
    }

    /* Кнопка закрытия окна */
    .wheel__modal .button-modal {
        height: 38px;

        margin-top: 20px;
    }
}