/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    .wheel-section {
        padding: 114px 10px 34px 10px;
    }

    .wheel__buttons {
        margin-top: 203px;
    }

    .wheel__buttons .button-green {
        width: min(353px, 100%);
    }
}