/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    /* Секция с подарками */
    .gifts-section {
        padding: 0;
    }

    /* Контейнер во всю ширину страницы */
    .gifts {
        width: 100%;
        padding: 34px 20px 80px 20px;

        border-radius: 0;
    }

    /* Контейнер с подарками */
    .gifts__container {
        width: min(345px, 100%);

        flex-direction: column;
        align-items: center;
        gap: 25px;

        margin: 26px 0 0 0;
    }

    /* Блок с подарком */
    .gifts__gift {
        width: 280px;
        height: 130px;
        padding: 30px;

        margin-right: 50px;
    }

    /* Картинка подарка */
    .gifts__gift-image {
        position: absolute;
        top: 5px;
        right: -50px;

        transform: rotate(13deg);
    }

    /* Описание подарка */
    .gifts__gift-text {
        width: 200px;

        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.01em;
    }
}

@media screen and (max-width: 370px) {
    .gifts__gift {
        width: 200px;
        padding: 12px;
        
        display: flex;
        align-items: center;
    }

    .gifts__gift-image {
        width: 75px;
        height: 75px;
        top: 20px;
        right: -35px;
    }

    .gifts__gift-text {
        width: 150px;
    }
}