.wheel {
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 12px;
}


/* Стрелочка указывающая на приз */
.wheel__arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: var(--z-above);
}


/* Кнопка вращения */
.wheel__button {
    width: 200px;

    margin-top: 20px;
}

/* Для пк */
@media (hover: hover) {
    .wheel__button:hover {
        scale: 1.25;
    }
}

/* Для мобильных устройств */
@media (hover: none) {
    .wheel__button:active {
        scale: 1.25;
    }
}


/* Колесо с призами */
.wheel__container {
    width: 500px;
    height: 500px;

    border-radius: 50%;
    border: 15px solid #dde;
    background-color: #ccc;

    position: relative;
    overflow: hidden;

    margin-top: 20px;
}

.wheel__container::after {
    content: "";
    width: 70px;
    height: 70px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    background-color: #dde;
    border-radius: 50%;
} 

.wheel__container div {
    width: 200px;
    height: 50%;

    position: absolute;
    top: 0;
    left: 135px;

    text-align: center;
    display: flex;
    justify-content: center;
    

    clip-path: polygon(100% 0, 50% 100%, 0 0);
    transform: translateX(-50%);
    transform-origin: bottom;
}

.wheel__container div p {
    width: 150px;
    color: var(--text-black);
    cursor: pointer;
    pointer-events: none;
    user-select: none;

    margin-top: 20px;
}

/* Отключаем короткое название приза */
.wheel__container div p:last-child {
    display: none;
}


/* Сектора колеса */
.wheel__container div:nth-of-type(1) {
    background-color: #ad15ad;
    left: 50%;
}

.wheel__container div:nth-of-type(2) {
    background-color: #52af3b;
    transform: rotate(45deg);
}

.wheel__container div:nth-of-type(3) {
    background-color: #4399d3;
    transform: rotate(90deg);
}

.wheel__container div:nth-of-type(4) {
    background-color: #ad2e5f;
    transform: rotate(135deg);
}

.wheel__container div:nth-of-type(5) {
    background-color: #1b26b3;
    transform: rotate(180deg);
}

.wheel__container div:nth-of-type(6) {
    background-color: #1e8b70;
    transform: rotate(225deg);
}

.wheel__container div:nth-of-type(7) {
    background-color: #c5bb2f;
    transform: rotate(270deg);
}

.wheel__container div:nth-of-type(8) {
    background-color: #b31b1b;
    transform: rotate(315deg);
}


/* Подсказка при наведении */
.wheel__container-tooltip {
    width: 200px;
    display: none;
    padding: 12px;

    position: fixed;
    
    border: 1px solid #b3c9ce;
    border-radius: 4px;

    color: var(--text-white);
    background: var(--bg-main);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.wheel__container-tooltip.show {
    display: block;
}