@media screen and (max-width: 560px) {
    /* Стрелочка указывающая на приз */
    .wheel__arrow {
        width: 25px;
        height: 25px;
    }

    /* Колесо с призами */
    .wheel__container {
        width: 300px;
        height: 300px;

        border: 8px solid #dde;

        margin-top: 8px;
    }

    .wheel__container::after {
        width: 42px;
        height: 42px;
    } 

    .wheel__container div {
        width: 120px;

        position: absolute;
        top: 0;
        left: 82px;
    }

    .wheel__container div p {
        width: 70px;
        font-size: var(--p-small);

        margin-top: 12px;
    }

    /* Отключаем полное название */
    .wheel__container div p:first-child {
        display: none;
    }

    /* Включаем короткое название приза */
    .wheel__container div p:last-child {
        display: block;
    }

    .wheel__button {
        width: 200px;
        height: 40px;
    
        margin-top: 20px;
    }
}


@media screen and (max-width: 340px) {
    /* Стрелочка указывающая на приз */
    .wheel__arrow {
        width: 25px;
        height: 25px;

        top: 30px;
    }

    .wheel__container {
        scale: 0.7;

        margin-top: 0px;
    }

    .wheel__button {
        width: 65%;
        height: 40px;
    
        margin-top: 0px;
    }
}