:root {
    /* Зеленая кнопка */
    --button-green-bg: #7EE9A9;
    --button-green-bg-hover: transparent;
    --button-green-text: #1d2136;
    --button-green-text-hover: #ffffff;
    --button-green-border: #7EE9A9;

    /* Прозрачная кнопка с зеленым border */
    --button-transparent-bg: transparent;
    --button-transparent-bg-hover: #7EE9A9;
    --button-transparent-text: #7EE9A9;
    --button-transparent-text-hover: #1d2136;
    --button-transparent-border: #7EE9A9;


    /* Отключенной кнопки */
    --button-gray: #949494;
}


button, a {
    font-weight: 600;
    font-size: 16px;
    color: var(--button-green-text);
    text-decoration: none;

    /* Отключаем базовые стили */
    outline: none;
    border: 1px solid transparent;

    cursor: pointer;
    transition: .2s all;
}


/* Отключенная кнопка */
button:disabled {
    color: var(--button-gray) !important;
    border-color: var(--button-gray) !important;
    background-color: transparent !important;

    cursor: not-allowed !important;
}


/* Зеленая кнопка */
.button-green {
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border-color: var(--button-green-border);
    background-color: var(--button-green-bg);
}

/* Прозрачная зеленая кнопка */
.button-transparent {
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    border-color: var(--button-transparent-border);
    background-color: var(--button-transparent-bg);

    color: var(--button-text-hover);
}

/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    /* Текст становится жирнее */
    .button-green {
        font-weight: 700;
    }
}

/* Наведение на пк */
@media (hover: hover) {
    .button-green:hover {
        background-color: var(--button-green-bg-hover);
        color: var(--button-green-text-hover);
    }

    .button-transparent:hover {
        background-color: var(--button-transparent-bg-hover);
        color: var(--button-transparent-text-hover);
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .button-green:active {
        background-color: var(--button-green-bg-hover);
        color: var(--button-green-text-hover);
    }

    .button-transparent:active {
        background-color: var(--button-transparent-bg-hover);
        color: var(--button-transparent-text-hover);
    }
}