html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-main);
}

article {
    width: 100%;
}

/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    body {
        background-color: var(--bg-gray);
    }
}

section {
    width: 100%;
}



/* Предзагрузка фонов на пк */
@media screen and (min-width: 877px) {
    /* Предзагрузка фонов */
    body:after {
        content:
            url("../assets/home-bg.png")
            url("../assets/registration-bg.png")
        ;
        display: none;
    }
}


/* Предзагрузка фонов на телефоне */
@media screen and (max-width: 876px) {
    /* Предзагрузка фонов */
    body:after {
        content:
            url("../assets/home-bg-phone.png")
            url("../assets/registration-bg-phone.png")
        ;
        display: none;
    }
}