html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-main);
}

article {
    width: 100%;
}

/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    body {
        background-color: var(--bg-gray);
    }
}

section {
    width: 100%;
}