/* Страница регистрации */
.registration-section {
    width: 100%;
    padding: 60px 40px 40px 40px;
}

/* Контейнер с блоком */
.registration {
    width: min(1240px, 100%);
    height: 740px;
    padding: 177px 0 0 50px;

    border-radius: 30px;
    background-color: var(--bg-gray);
    background-image: url("../../assets/registration-bg.png");
    background-repeat: no-repeat;
    background-position: top right;

    margin: 0 auto;
}

/* Форма регистрации */
.registration__form {
    width: min(500px, 100%);
}

/* Заголовок "регистрация" */
.registration__form-title {
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 0.01em;
    background: linear-gradient(95deg, #fffd38 0%, #a2ff76 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: lowercase;
    transition: 0s all;

    margin-bottom: 38px;
}

/* Блок с инпутом */
.registration__form-input {
    width: 100%;
    height: auto;
    position: relative;

    margin-top: 20px;
}

/* Инпуты в форме */
.registration__form input[type=text] {
    width: 100%;
    padding: 18px 14px;

    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #666666;

    /* Текст в инпуте */
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}


/* Замена плейсхолдера */
.registration__form-input label {
    position: absolute;
    padding: 0 4px;
    top: 20px;
    left: 12px;

    font-size: 18px;
    transition: .1s all;

    /* Отключаем взаимодействие с label */
    pointer-events: none;
}

/* Отключаем серый фон инпута если в инпуте есть значение или инпут активен */
.registration__form-input input:focus,
.registration__form-input input:valid {
    /* Фон инпута в цвет блока */
    background-color: var(--bg-gray);
    border: 1px solid #ffffff;
}

/* Перемещаем плейсхолдер выше если в инпуте есть значение или инпут активен */
.registration__form-input input:focus ~ label,
.registration__form-input input:valid ~ label {
    transform: translateY(-30px);

    font-size: 16px;

    background-color: var(--bg-gray);
}



/* Чекбокс в форме */
.registration__form-checkbox {
    width: 420px; /* Ограничиваем ширину */
    height: 30px;
    padding-left: calc(28px + 12px); /* Отступ от чекбокса */
    display: flex;
    flex-direction: column;
    position: relative;

    font-weight: 400;
    font-size: 12px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-top: 50px;
}

/* Ссылка на политику конфиденциальности */
.registration__form-checkbox a {
    text-decoration: underline;
    font-weight: inherit;
    font-size: inherit;
    color: var(--text-white);
}

/* Прячем стандартный чекбокс */
.registration__form-checkbox input[type=checkbox] {
    height: 0;
    width: 0;
    position: absolute;

    cursor: pointer;
    opacity: 0;
}

/* Кастомный чекбокс */
.registration__form-checkbox span {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid #ffffff;
    transition: .2s all;
}

/* Наведение на пк */
@media (hover: hover) {
    .registration__form-checkbox:hover input[type=checkbox] ~ span {
        background-color: #5e5e5e;
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .registration__form-checkbox:active input[type=checkbox] ~ span {
        background-color: #5e5e5e;
    }
}

/* Когда чекбокс не активирован нету галочки */
.registration__form-checkbox span svg {
    display: none;
}

/* Когда чекбокс активирован появляется галочка */
.registration__form-checkbox input[type=checkbox]:checked ~ span svg {
    display: block;
}


/* Кнопка "Отправить" */
.registration__form .button-green {
    width: 260px;

    margin-top: 35px;
}

@media screen and (max-width: 370px) {

}