/* Секция регистрации */
.registration-section {
    width: 100%;
    padding: 35px
}

/* Контейнер с блоком */
.registration {
    width: min(1240px, 100%);
    padding: 65px 0 90px 50px;

    border-radius: 30px;
    background-color: var(--bg-gray);
    background-image: url("../../assets/registration-bg.png");
    background-repeat: no-repeat;
    background-position: top right;

    margin: 0 auto;
}

/* Обвертка регистрации (Для мобильной версии) */
.registration__form-wrapper {
    width: min(500px, 100%);
}

/* Форма регистрации */
.registration__form {
    width: 100%;
}

/* Заголовок "регистрация" */
.registration__form .section-title {
    margin-top: 54px;
}

/* Инпуты в форме */
.registration__form .custom-input {
    margin-top: 20px;
}

/* У первого инпута больше отступ сверху */
.registration__form .custom-input:first-of-type {
    margin-top: 56px;
}



/* Чекбокс в форме */
.registration__form-checkbox {
    width: 420px; /* Ограничиваем ширину */
    height: 30px;
    padding-left: calc(28px + 12px); /* Отступ от чекбокса */
    display: flex;
    flex-direction: column;
    position: relative;

    font-weight: 400;
    font-size: 12px;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin-top: 50px;
}

/* Ссылка на политику конфиденциальности */
.registration__form-checkbox a {
    width: fit-content;
    border: none;
    
    text-decoration: underline;
    font-weight: inherit;
    font-size: inherit;
    color: var(--text-white);
}

/* Прячем стандартный чекбокс */
.registration__form-checkbox input[type=checkbox] {
    height: 0;
    width: 0;
    position: absolute;

    cursor: pointer;
    opacity: 0;
}

/* Кастомный чекбокс */
.registration__form-checkbox span {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    border: 2px solid #ffffff;
    transition: .2s all;
}

/* Наведение на пк */
@media (hover: hover) {
    .registration__form-checkbox:hover input[type=checkbox] ~ span {
        background-color: #5e5e5e;
    }
}

/* Клик на телефоне */
@media (hover: none) {
    .registration__form-checkbox:active input[type=checkbox] ~ span {
        background-color: #5e5e5e;
    }
}

/* Когда чекбокс не активирован нету галочки */
.registration__form-checkbox span svg {
    display: none;
}

/* Когда чекбокс активирован появляется галочка */
.registration__form-checkbox input[type=checkbox]:checked ~ span svg {
    display: block;
}


/* Кнопка "Отправить" */
.registration__form .button-green {
    margin-top: 35px;
}