/* Переход на мобильную версию */
@media screen and (max-width: 876px) {
    .registration-section {
        padding: 0;
    }

    /* Контейнер во всю ширину страницы */
    .registration {
        width: 100%;
        height: auto;
        padding: 422px 20px 20px 20px;
    
        border-radius: 0;
        background-image: url("../../assets/registration-bg-phone.png");
        background-position: top;
    
        margin: 80px 0 0 0;
    }

    /* Форма регистрации */
    .registration__form {
        margin: 0 auto;
    }

    /* Заголовок "регистрация" */
    .registration__form-title {
        font-size: 25px;
        font-weight: 700;

        margin-bottom: 30px;
    }

    /* Блок с инпутом */
    .registration__form-input {
        margin-top: 17px;
    }

    /* Инпуты в форме */
    .registration__form-input input[type=text] {
        padding: 15px 10px;
        font-size: 16px;
    }

    /* Замена плейсхолдера */
    .registration__form-input label {
        top: 15px;
        left: 10px;

        font-size: 16px;
        transition: .1s all;

        /* Отключаем взаимодействие с label */
        pointer-events: none;
    }

    /* Перемещаем плейсхолдер выше если в инпуте есть значение или инпут активен */
    .registration__form-input input:focus ~ label,
    .registration__form-input input:valid ~ label {
        transform: translateY(-24px);

        font-size: 14px;
    }


    /* Чекбокс в форме */
    .registration__form-checkbox {
        width: 100%;
        height: auto;
        padding-left: calc(19px + 12px); /* Отступ от чекбокса */

        font-size: 12px;

        margin-top: 25px;
    }

    /* Кастомный чекбокс */
    .registration__form-checkbox span {
        width: 19px;
        height: 19px;
    }

    .registration__form-checkbox span svg {
        width: 17px;
        height: 15px;
    }

    /* Кнопка "Отправить" */
    .registration__form .button-green {
        width: 100%;

        margin-top: 30px;
    }
}