/* Контейнер с правилами в регистрации */
.registration__rules {

}


/* Текст "Зарегистрируйтесь для участия..." */
.registration__rules-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    
    margin-top: 35px;
}

/* Текст "Обратите внимание..." */
.registration__rules-text:last-of-type {
    width: min(437px, 100%);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    
    margin-top: 25px;
}