:root {
    /* Размеры текста */
    --h1: 28px;
    --h2: 24px;
    --h3: 20px;
    --p: 16px;
    --p-small: 14px;

    --text-white: #FFFFFF;
    --text-dark: #FFFFFF88;
    --text-black: #000000;
}

@media screen and (max-width: 840px) {
    :root {
        --h1: 24px;
        --h2: 20px;
        --h3: 16px;
        --p: 14px;
    }
}

/* Стили для текста */
h1, .h1 {
    font-size: var(--h1);
    font-weight: 700;
}

h2, .h2 {
    font-size: var(--h2);
    font-weight: 600;
}

h3, .h3 {
    font-size: var(--h3);
    font-weight: 600;
}

h4, .h4 {
    font-size: var(--h4);
    font-weight: 600;
}

p {
    font-size: var(--p);
    font-weight: 500;
}

small, .small {
    font-size: var(--p-small);
}

/* Лейбл инпута */
label {
    font-size: var(--p);
}